/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --sb-track-color: #868686;
  --sb-thumb-color: #e8e8e8;
  --sb-size: 6px;

}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
